@page "/add-doc"
@page "/edit-doc/{id?}"
@inject DocsService DocsService
@inject  NavigationManager NavigationManager

<h3>AddEditDoc</h3>

<EditForm Model="@doc" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    
    <MudGrid>
        <MudItem xs="12">
            <MudPaper>
                <MudTextField Label="Tytuł" HelperText="Wymagane. Max 200 znaków"
                              @bind-Value="@doc.Title" For="@(() => doc.Title)"/>

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success">Dodaj</MudButton>
            </MudPaper>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    [Parameter] public string? Id { get; set; }
    // Doc doc = new();
    Doc doc = new()
    {
        Path =  new DocPath(),
        Categories = new List<Category>(),
        Links = new List<Link>(),
        Images = new List<Image>(),
        Notes = new List<Note>(),
        Tags = new List<Tag>()
        
    };

    protected override async Task OnInitializedAsync()
    {
        doc.Path = new DocPath();
    }


    private async Task OnValidSubmit(EditContext context)
    {
        await DocsService.AddDoc(doc);
        NavigationManager.NavigateTo("/");
    }

}