@namespace Docs.Modules.Common.Version.Components

@*
@typeparam T where T:SettingsModel
@inject IOptions<T> settings
$1$ #if DEBUG  #1#
$1$ #endif #1#
<div class="d-flex justify-md-end align-end justify-xs-center">
    <div class="mx-4 l-3 fw-lighter" style="font-size: 0.7rem">@($"{Name} v. {(IsVersionFromAppSetings ? settings.Value.ModuleVersion : Version)}") by &copy; @By @DateTime.Now.Year</div>
</div>
*@



@code {

    [Parameter]
    public bool IsVersionFromAppSetings { get; set; } = true;
    [Parameter]
    public string Name { get; set; } = string.Empty;
    [Parameter]
    public string Version { get; set; } = string.Empty;
    [Parameter]
    public string By { get; set; } = "Mac";

}