@namespace Docs.Modules.Common.Version.Components
@inject IConfiguration Configuration
@* @inject IOptions<AppOptions> appOptions *@
@* #if DEBUG  *@
@* #endif *@
<div class="d-flex justify-xs-center justify-lg-end align-center justify-center">
    

    @* IConfiguration *@
    <span class=" l-3 fw-lighter" style="font-size: 0.7rem">
        @($"{Name} ver. {(IsVersionFromAppSetings ? Configuration.GetChildren().FirstOrDefault(section=>section.Key=="Version")?.Value : Version)}") by &copy; @By @DateTime.Now.Year
    </span>

    @* IOptions *@
    @* <div class="mx-4 l-3 fw-lighter" style="font-size: 0.7rem">@($"{Name} ver. {(IsVersionFromAppSetings ? appOptions.Value.Version : Version)}") by &copy; @By @DateTime.Now.Year</div> *@
</div>



@code {

    [Parameter]
    public bool IsVersionFromAppSetings { get; set; } = true;
    [Parameter]
    public string? Name { get; set; } = string.Empty;
    [Parameter]
    public string? Version { get; set; } = string.Empty;
    [Parameter]
    public string? By { get; set; } =string.Empty;

}