@namespace Docs.Modules.ReleaseNotes

@page "/release-notes"

<PageHeaderComp Name="Release notes"/>
<MudGrid>
    <MudItem xs="6">
        <MudPaper Outlined="true" Class="ma-5 pa-5 ">
            <MudText Typo="Typo.h6" Color="Color.Primary" Class="pb-3" Style="text-decoration-line: underline">v. 0.2.0</MudText>
            <p>- Dodano stonę Release Notes.</p>
            <p>- Dodano komponent wersjonowania.</p>
            <p>- Nowa strona Dodawania/Edycji/Detali dokumentu.</p>
            <p>- Usunięto bazę danych ze śledzienia przez Gita.</p>
            <p>- Poprawiono układ komponentu Logowani i Rejestracji</p>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

}