@namespace Docs.Modules.ReleaseNotes

@page "/release-notes"
@attribute [Authorize]

<PageHeaderComp Name="Release notes"/>
@* <MudStack Row="false"> *@
<MudGrid>

    <MudItem xs="8">
        <MudPaper Outlined="true" Class="ma-5 pa-5 ">
            <MudText Class="pb-3">
                <MudLink Color="Color.Primary" Typo="Typo.h6" Underline="Underline.Always" Class="pb-3" Target="_blank"
                         href="https://github.com/users/maciekkukuczka/projects/3/views/11?sliceBy%5Bvalue%5D=0.5.0">
                    v.0.5.0
                </MudLink>
            </MudText>
            <p>- Dodano Linki.</p>
            <p>- Dodano Skróty klawiszowe.</p>
            <p>- Dodano Telemetrię.</p>
            <p>- Dodano Seq.</p>
            <p>- Dodano centralne przechwytywanie  wyjątków.</p>
            <p>- Licznik kategorii (wszystkie).</p>
            <p>- Dodano Seq.</p>
            <p>- Dodano spinner dla loadingów.</p>
            <p>- Dodano wersjonowanie z assembly oraz wersjonowanie dziennych buildów.</p>
            <p>- Dodano Autentykacje dla brakujących zasobów.</p>
            <p>- Ulepszenia wizualne.</p>


        </MudPaper>
    </MudItem>
    <MudFlexBreak/>

    <MudItem xs="8">
        <MudPaper Outlined="true" Class="ma-5 pa-5 ">
            <MudText Class="pb-3">
                <MudLink Color="Color.Primary" Typo="Typo.h6" Underline="Underline.Always" Class="pb-3" Target="_blank"
                         href="https://github.com/maciekkukuczka/Docs/milestone/3">
                    v.0.4.0
                </MudLink>
            </MudText>
            <p>- Dodano kategorię.</p>
            <p>- Dodano nowe przyciski edycji o uwspólnionym wyglądzie.</p>


        </MudPaper>
    </MudItem>

    <MudFlexBreak/>

    <MudItem xs="8">
        <MudPaper Outlined="true" Class="ma-5 pa-5 ">
            <MudText Class="pb-3">
                <MudLink Color="Color.Primary" Typo="Typo.h6" Underline="Underline.Always" Class="pb-3" Target="_blank"
                         href="https://github.com/maciekkukuczka/Docs/issues/28">
                    v.0.3.0
                </MudLink>
            </MudText>
            <p>
                <MudLink Color="Color.Default" Typo="Typo.inherit" Target="_blank" href="https://github.com/maciekkukuczka/Docs/issues/28">
                    - Dodano wyszukiwarke na dokumentach.
                </MudLink>
            </p>
            <p>
                <MudLink Color="Color.Default" Typo="Typo.inherit" Target="_blank" href="https://github.com/maciekkukuczka/Docs/issues/12">
                    - Refaktoryzacja warningów i kodu
                </MudLink>
            </p>
            <p>
                <MudLink Color="Color.Default" Typo="Typo.inherit" Target="_blank" href="https://github.com/maciekkukuczka/Docs/issues/29">
                    - Naprawiono błąd generowania tematu "Default", nawet gdy już istniał
                </MudLink>
            </p>

        </MudPaper>
    </MudItem>

    <MudFlexBreak/>

    <MudItem xs="8">
        <MudPaper Outlined="true" Class="ma-5 pa-5 ">
            <MudText Typo="Typo.h6" Color="Color.Primary" Class="pb-3" Style="text-decoration-line: underline">v. 0.2.0</MudText>
            <p>- Dodano stonę Release Notes.</p>
            <p>- Dodano komponent wersjonowania.</p>
            <p>- Nowa strona Dodawania/Edycji/Detali dokumentu.</p>
            <p>- Usunięto bazę danych ze śledzienia przez Gita.</p>
            <p>- Poprawiono układ komponentu Logowani i Rejestracji</p>
        </MudPaper>
    </MudItem>


</MudGrid>
@* </MudStack> *@

@code {

}