@namespace Docs.Modules.Common.NoData

<MudItem xs="12">
    <MudPaper Elevation="6" Outlined="true" Class="d-flex justify-center align-center ma-3 pa-5">
        <span class="loader"></span>
        @* <div class="lds-hourglass">dupa</div> *@
        <p>Brak danych...</p>
    </MudPaper>
</MudItem>


@code {

}