@namespace Docs.Modules.Common


<MudItem xs="12">
    <MudPaper Elevation="6" Outlined="true" Class="d-flex justify-center align-center ma-3 pa-5">
        <p>Brak danych...</p>
    </MudPaper>
</MudItem>


@code {

}