@namespace Docs.Modules.Common.NoData


<span class="loader"></span>
<MudItem xs="12">
    <MudPaper Elevation="6" Outlined="true" Class="d-flex justify-center align-center ma-3 pa-5">
        <span class="loader"></span>
        <p>Brak danych...</p>
    </MudPaper>
</MudItem>


@code {

}